@import "tailwindcss";
@plugin "@tailwindcss/typography";

html, body {
  height: 100%;
  margin: 0;
}

/* globals.css / index.css */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

button { cursor: pointer; }

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    appearance: none;
    -moz-appearance: textfield;
  }
}
